/.nuget-packages/
/.nuget-http-cache/
/.dotnet-cli-home/
/TestSandbox/
/TestResults/
/artifacts/
/temp/
/Program/
/Recordings/*.macro
/src/**/bin/
/src/**/obj/
/tests/**/bin/
/tests/**/obj/
/tools/**/bin/
/tools/**/obj/
/.vs/
*.user
*.suo
*.pdb
*.log
active_tool.lock
active_tool.json
current_session.json
